<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>tail log</title>
</head>
<script>
    const getUrlParams = (name = "") => { // 不传name返回所有值，否则返回对应值
        const url = window.location.search;
        if (url.indexOf('?') == 1) {
            return false;
        }
        const params = {};
        // 获取全部参数及其值
        url.substr(1).split('&').forEach((value, index) => {
            let info = value.split('=');
            params[info[0]] = decodeURI(info[1]);
        })
        // 如果传入一个参数名称，就匹配其值

        // 返回结果
        return params[name] || params;
    }
    const MAX_LINE = Math.min((getUrlParams("line") || 200), 1000);
    const pj = getUrlParams("pj");
    let count = 3;
    const init = () => {
        // 指定websocket路径
        const websocket = new WebSocket(`ws://${window.location.host.replace(/^https?:\/\//, "")}/tail/${pj}`),
            container = document.getElementById("log-container"),
            writeLine = (data) => {
                const spanElm = document.createElement('SPAN');
                spanElm.innerText = data;
                spanElm.classList.add("data-line")
                container.appendChild(spanElm);
                container.appendChild(document.createElement('BR'));
                // 滚动条滚动到最低部
                container.scrollTop = container.scrollHeight;
            };
        websocket.onmessage = (event) => {
            // 接收服务端的实时日志并添加到HTML页面中
            writeLine(event.data);
            if (container.getElementsByClassName('data-line').length >= MAX_LINE) {
                container.removeChild(container.firstElementChild);
            }

        };
        websocket.onopen = (event) => {
            console.log("websocket 连接打开");
        };

        // websocket连接关闭
        websocket.onclose = (event) => {
            console.log("websocket 连接关闭");
            console.log("websocket 开始重联");
            if (count-- == 0) return;
            init();
        };
    };

</script>
<style type="text/css">
    html {
        background: #333;
        color: #aaa;
    }
</style>
<body onload="init()">
<div id="log-container" style="height: 90vh; overflow-y: scroll; background: #333; color: #aaa; padding: 10px;">
    <div>
    </div>
</div>
</body>
</html>
