<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>tail log</title>
</head>
<script>

    function getUrlParams(name) { // 不传name返回所有值，否则返回对应值
        var url = window.location.search;
        if (url.indexOf('?') == 1) {
            return false;
        }
        url = url.substr(1);
        url = url.split('&');
        var name = name || '';
        var nameres;
        // 获取全部参数及其值
        for (var i = 0; i < url.length; i++) {
            var info = url[i].split('=');
            var obj = {};
            obj[info[0]] = decodeURI(info[1]);
            url[i] = obj;
        }
        // 如果传入一个参数名称，就匹配其值
        if (name) {
            for (var i = 0; i < url.length; i++) {
                for (var key in url[i]) {
                    if (key == name) {
                        nameres = url[i][key];
                    }
                }
            }
        } else {
            nameres = url;
        }
        // 返回结果
        return nameres;
    }

    function init() {
        document.getElementById("pj").value = getUrlParams("pj")
        console.info(document.getElementById("pj").value)
    }
</script>
<style type="text/css">

</style>
<body onload="init()">
<form action="/wsdl" method="post">
    <div style="width:inherit;height: inherit;">
        <input style="width: 80%;" type="hidden" id="pj" name="pj">
        <div style="width:inherit;height: inherit;display: flex;width: 100%;">
            <label for="wsdl">wsdl</label>
            <input style="width: 80%;" type="text" id="wsdl" name="wsdl">

        </div>
        <div style="width:inherit;height: inherit;display: flex;width: 100%;">
            <label for="qName">qName</label>
            <input style="width: 80%;" type="text" id="qName" name="qName">

        </div>
        <div style="width:inherit;height: inherit;display: flex;width: 100%;">
            <label for="method">method</label>
            <input style="width: 80%;" type="text" id="method" name="method">

        </div>

        <div style="width:inherit;height: inherit;display: flex;width: 100%;">
            <label for="params">params</label>
            <textarea name="params" id="params" style="width: 80%;height: 20vh" cols="20"></textarea>

        </div>
        <div style="width:inherit;height: inherit;display: flex;width: 100%">
            <button type="submit" style="width:100%;height: 25px">get!</button>
        </div>

    </div>
    </div>
</form>
</body>
</html>
